h1 {
  font-weight: bold;
  font-size: xx-large;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div .range {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.red {
  color: red;
  font-weight: bold;
  margin-right: 20px;
}

.green {
  color: green;
  font-weight: bold;
  margin-right: 45px;
}

.blue {
  color: blue;
  font-weight: bold;
  margin-right: 55px;
}

#text-red {
  width: 40px;
  margin-left: 20px;
}

#text-green {
  width: 40px;
  margin-left: 20px;
}

#text-blue {
  width: 40px;
  margin-left: 20px;
}

#simulator {
  width: 150px;
  height: 150px;
  background-color: black;
  margin: 100px;
}
